.cont {
  width: 100%;
  margin: 0 auto;
}

.side-column {
  background-color: #f1f1f1;
  padding: 20px;
}

/* Main column */
.main-column {
  background-color: white;
  padding: 20px;
}

.faq-section-title {
  font-weight: bold;
}

.article-sidebar ul {
  list-style: none;
  padding-inline-start: 0;
}

.article-sidebar ul li:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 13px;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%22-287%20404.9%2020.9%2032%22%20enable-background%3D%22new%20-287%20404.9%2020.9%2032%22%3E%3Cpath%20fill%3D%22%23F96B30%22%20d%3D%22M-282.1%20404.9l16%2016-16%2016-4.9-4.9%2011.1-11.1-11.1-11.1%204.9-4.9z%22/%3E%3C/svg%3E');
  background-repeat: no-repeat;
  transform: translateY(-1px);
  margin-right: 5px;
}

@media screen and (min-width: 640px){
  .cont {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
  }
  .main-column {
    flex: 1;
  }
  .side-column {
    flex: 0 1 300px;
  }

  #main {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}
