
/**
 * Custom Styles
 */

.cont {
  margin: 0 auto 50px auto;
  width: 980px;
}

.user-info-cont {
  height: 30px;
}


@media (max-width: 1080px) {
  .cont {
      width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

.home-search .search {
  width: calc(100% - 200px);
}

@media (max-width: 650px) {
  .home-search .search {
    width: 100%;
  }
}

#query {
  margin: 0 auto;
}

.home-search {
    width: 980px;
  margin: 0 auto;
}

@media (max-width: 1080px) {
  .home-search {
      width: 90%;
    margin: 0 auto;
  }
}

.search-background {
    background: #ededec;
  width: 100%;
  margin-bottom: 50px;
}

.home-search #query {
  width: 100%;
}

#query:focus {
  outline: none;
}

#query:hover {
  cursor: text;
}

.support-hero {
  background-image: url("//theme.zdassets.com/theme_assets/737723/fe043481f4bec0773a508e8d9331f2605d8254d7.jpg");
  background-size: cover;
    width: 100%;
  height: 500px;
  margin-top: 70px;
}

.support-hero .hero-text {
  font-size: 90px;
  text-align: center;
  padding-top: 190px;
  color: #fff;
  padding-left: 40px;
  padding-right: 40px;
}

.category > h2 > a,
.page-header > * {
  font-size: 50px;
  text-transform: uppercase;
}

.category .section h3 a {
  text-transform: uppercase;
  color: #333;
  font-weight: 400;
  font-size: 21px;
}

.article-list li a {
  line-height: 22px;
}

@media (max-width: 1080px) {
  ul.article-list {
    clear: both;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
}

.article-body p {
  text-transform: none;
}

.article-body p a {
  font-size: 21px;
}


.article-header h1 {
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.nav__item label {
  font-size: 21px;
  font-weight: normal;
}

.dropdown-toggle {
  font-size: 13px;
}

.search-result-link {
  font-size: 21px;
  font-weight: bold;
}

.search-result-description,
.search-result-description p {
  font-size: 18px;
  text-transform: none;
}

.search-result-meta,
.search-result-meta a,
.search-result-meta time {
  font-size: 16px;
}

.recent-articles li {
  margin-bottom: 20px;
}

.recent-articles li a {
  line-height: -5px;
}

.user-login {
  float: right;
  margin: 20px 20px;
}

#user > div.btn {
  border: 1px solid #eee;
  background: #f96b30;
  color: #fff;
  padding: 10px 12px;
}

.dropdown-toggle:after {
  color: #fff !important;
}

@media (max-width: 1080px) {
    section.section {
    width: 100%;
    padding-right: 0;
    }
  
  .article-sidebar,
  .side-column {
    width: 100%;
    margin-top: 50px;
    margin-left: 0;
  }
  
  .main-column {
    width: 100%;
  }
  
  .sub-nav .breadcrumbs,
  .sub-nav .search {
    width: 100%;
    display: block;
    clear: both;
  }
  
  .sub-nav .search #query {
    width: 85%;
  }
  
  /*li,
  a,
  p,
  .article-comments p,
  .article-more-questions,
  .article-comments h3,
  .article-body p,
  .article-body p a,
  .article-body h3,
  .article-vote span,
  .article-vote small,
  .article-author,
  .article-meta .meta,
  .see-all-articles,
  .recent-articles h3,
  .recent-articles ul li a,
  .related-articles h3,
  .related-articles ul li a,
  .breadcrumbs li a
  .breadcrumbs li
  .page-header {
    font-size: 16px;
  }*/
  
  
  .recent-articles h3,
  .recent-articles ul li a,
  .related-articles h3,
  .related-articles ul li a {
    margin-bottom: 50px;
  }
  
  .article-header h1 {
    font-weight: lighter; 
  }
  
  .article-avatar img {
    max-width: 100px;
    max-height: 100px;
    margin-right: 30px;
  }
  
  ul.share {
    display: none !important;
  }
}

@media (max-width: 600px) {
  .sub-nav .search #query {
      width: 75%;
  }
}

@media (max-width: 400px) {
  .sub-nav .search #query {
      width: 70%;
  }
}




.search-background .user-login {
  margin: -61px 0 0;
}

@media (max-width: 650px) {
  .search-background .user-login {
    margin: 10px 0 0;
  }
}

.user-login .login {
  background: #f96b30;
  color: #fff;
  text-transform: uppercase;
  font-size: 21px;
  font-style: italic;
  padding: 15px 40px 11px;
  border: 2px solid #f96b30;
  transition: background .15s, color .15s;
}

.user-login .login:hover {
  background: transparent;
  color: #f96b30;
}


.side-column li a {
  font-size: 20px;
  line-height: 22px;
}


.article-meta {
  line-height: 18px;
}

.article-author {
  font-weight: 400;
  font-size: 18px;
}

.meta time {
  color: #f96b30;
  font-size: 18px;
}


#user #user-name {
    width: 50px !important;
    max-width: none;
    font-size: 19px;
    line-height: 18px;
}
  
.site-footer__newsletter .submit {
  width: 50px;
  height: 50px;
  position: absolute;
  right: -1px !important;
  top: 52px;
}

@media (max-width: 1160px) {
  .site-footer__newsletter .submit {
	  top: 50px;
 	}
}

@media (max-width: 760px) {
  .site-footer__newsletter .submit {
	  top: 49px;
 	}
}


.home-search .submit-container {
    width: 70px;
    height: 61px;
    position: absolute;
    right: 0;
    top: 0;
}

.home-search .submit-container input {
    width: 70px;
    height: 61px;
    background-color: #f96b30;
    border: none;
	  padding: 0;
    color: #fff;
	  text-indent: -99999px;
	  border-radius: 4px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 18px 18px;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%22200px%22%20height%3D%22200px%22%20viewBox%3D%220%200%20200%20200%22%20enable-background%3D%22new%200%200%20200%20200%22%20xml%3Aspace%3D%22preserve%22%3E%20%3Cpath%20d%3D%22M198.362%2C99.551l-99.551%2C99.551l-13.559-13.44l76.596-76.596H1.638v-19.03h160.21L85.252%2C13.44L98.811%2C0L198.362%2C99.551z%22%20fill%3D%22%23FFFFFF%22%20%2F%3E%3C%2Fsvg%3E");
}

.home-search .submit-container input:focus {
  outline: 0;
}